@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300');

body {
  background-image: linear-gradient(260deg, #a5fffd 0%,
    #44e5e2 70%);
}

.wrapper {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: space-around;
  flex-direction: column;
}

.title {
  font-size: 50px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #4c4c4c;
}

.calc-box {
  border: 2px solid white;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 400px;
  width: 400px;
}

.readout {
  border: 1px solid white;
  height: 70px;
  margin: 10px;
  background-color: #e8e8e8;
  font-size: 50px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #4c4c4c;
  display: flex;
  justify-content: flex-end;
  overflow-x: hidden;
}

.footer {
  font-family: 'Source Sans Pro', sans-serif;
  color: #4c4c4c;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.row {
  display: flex;
  justify-content: space-around;
  font-size: 40px;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  margin-bottom: 10px;
}

.r1 {
  justify-content: flex-start;
  margin: 10px;
}

.c {
  text-align: center;
  margin-left: 20px;
  margin-right: 45px;
  border: 1px solid white;
  width: 40px;
}

.ca {
  text-align: center;
  border: 1px solid white;
  width: 65px;
}

a:not(.github) {
  text-align: center;
  border: 1px solid white;
  width: 75px;
}

.github {
  margin-top: 10px;
}

a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.c:hover, .ca:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
